/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
    font-family: Arial, sans-serif;
    src: url("fonts\ArialMT.woff");
}

/////////GLOBAL///////////////////////////

$font-stack: Arial, sans-serif;

hr {
    width: 100%;
    margin: 15px 0 !important;
    border: 1px solid #777 !important;
}

h1 {
    font-weight: bold;
}

p {
    font-size: 16px;
    font-weight: 500;
}

a {
    transition: 0.3s ease 0s;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

body {
    position: relative;
     font-family: $font-stack;   
}

.mob {
    display: none;
}

////////////////////////////////////////////

.header {
    position: fixed;
    width: 100%;
    z-index: 5;
    padding: 5px 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .15);

    // .header__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.wrapper {

    // .wrapper__one

    &__one {
    display: flex;
    align-items: center;
    }

    // .wrapper__two

    &__two {
    display: flex;
    align-items: center;
    }
}
.one {

    // .one__logo

    &__burger {
        display: none;
        margin-right: 15px;
        position: relative;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    &__logo {
    display: flex;
    align-items: center;
    }

    // .one__city

    &__city {
    }
}

.burger {

    
    &__span {
        position: absolute;
        top: 50%;
        border-radius: 2px;
        height: 2px;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
    }
    
    &__span::after {
        content: "";
        position: absolute;
        top: -5px;
        border-radius: 2px;
        height: 2px;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
    }
    
    &__span::before {
        content: "";
        position: absolute;
        top: 5px;
        border-radius: 2px;
        height: 2px;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
    } 

}


.logo {

    // .logo__img

    &__img {
       width: 22px;
       height: 19px; 
    }

    // .logo__name

    &__name {
        padding-left: 7px;
        font-weight: 700;
        font-size: 24px;
        line-height: 0;
        display: inline-block;
        transform: scale(1,1);
        transform-origin: 0 9px;
    }
}
.city {

    // .city__dropdown

    &__dropdown {
        position: relative;
        margin-left: 40px;

        font-size: 16px;
        line-height: 24px;
        font-weight: 500; 
        transition: 0.3s;
        cursor: pointer;
    }

    &__arow {
        margin-left: 10px;
        cursor: pointer;
        transition: 0.5s ease-out;
        
    }


}

.city__dropdown:hover  .city__arow{
     transform: rotate(180deg);
}

.city__dropdown:hover .dropdown__list {
    max-height:100vh;
    transition: 0.5s ease-in;
}


.dropdown {

    &__list {
        position: absolute;
        overflow: hidden;
        max-height: 0;
        transition: 0.5s ease-out;
        width: 200px;
        padding-top: 14px;
        background: #fff;
        list-style: none;
        padding-left: 0;
        
    }
}



.two {

    // .two__blog


    &__blog {
        position: relative;
        box-sizing: border-box;
        transition: all 0.6s ease 0s;
        margin-right: 30px;
        padding: 8px 15px;
        background: #0D870D;
        border-radius: 6px;

        color: #fff; 
        font-size: 16px;
        line-height: 24px;

        cursor: pointer;
    }

    &__blog:before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 42px;
        background: rgba(255,255,255,0.3);
        border-radius: 5px;
        transition: all 0.6s ease 0s;
    }
    
    &__blog:hover:before {
        width: 100%;
    }


    // .two__icon

    &__icon {
        margin-right: 10px; 

        img {
            padding-right: 20px;
        }
    }

    // .two__plus

    &__plus {
       margin-right: 30px; 
    }

    // .two__user

    &__user {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__user::before {
        content: " ";
        position: absolute;
        z-index: 10;
        width: 10px;
        height: 10px;
        background: red;
        border-radius: 50%;
        top: -1px;
        right: 5px;
}

    &__unuser {
        display: none;
        margin-left: 10px;
        
    }
}

.unuser {
    &__link {
        display: flex;
        align-items: center;
    }
}


.link {
    &__profile{
        padding-right: 8px;

    }

    &__open {
        margin-bottom: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;

        color: #000;
    }
}


.user {
    &__img {
        width: 30px;
        height: 30px;
    }





    &__action {
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        
    }
}


.action {
    &__green {
        margin-left: 2px;

        width: 6px;
        height: 4px;
        background: #0D870D ;
    }

    &__green-first {
        margin-left: 2px;

        width: 6px;
        height: 4px;
        background: #0D870D ;
        border-radius: 30px 0px 0px 30px;
    }

    &__gray-last {
        margin-left: 2px;

        width: 6px;
        height: 4px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 0px 30px 30px 0px;
    }

    &__gray {
        margin-left: 2px;

        width: 6px;
        height: 4px;
        background: rgba(0, 0, 0, 0.2);
    }
}

.plus {

    // .plus__btn

    &__btn {
        background: #fa961e;
        padding: 3px 3px 3px 16px;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s ease 0s;
    }
}


.btn {

    // .btn__text

    &__text {
        background: #fff;
        padding: 2px 6px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        color: #fa961e;
        text-transform: uppercase; 
    }
}


.plus__btn.active {
    background: rgba(0, 0, 0, 0.2);
    padding: 3px 16px 3px 3px;
    border-radius: 30px;
    color: rgba(0, 0, 0, 0.2);
}

.plus__btn.active .btn__text{
    color: rgba(0, 0, 0, 0.52);
}

///////////////////////////////////////////////////////

.border-right {
      border-right: 2px solid #CCCCCC;
}


.sidebar {
    position: sticky;
    top: 50px;
    padding: 20px !important;
  
		// .sidebar__serach

		&__serach {
            display: flex;
            align-items: center;
            padding: 10px 0;
            border-radius: 3px; /*закругляем углы для остальных браузеров*/  
            border: 1px solid #DDDDDD;
            width: 100%;

            font-size: 16px !important;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.52);
		}

		// .sidebar__nav

		&__nav {
		}
}
.search {

    &__icon {
        width: 24px;
        height: 20px;
        padding-left: 5px;
    }

		// .search__input

		&__input {
            width: 100%;
            outline: none; /*убираем стандартную обводку браузера*/   
            border: 0;
            padding-left: 5px;

            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
      
            color: rgba(0, 0, 0, 0.52);
       
		}
}
.nav {

		// .nav__list

		&__list {
            list-style: none;
            padding-left: 0;
		}
}
.list {

		// .list__li

		&__li {
            padding: 8px 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            transition: 0.5s;
		}

        &__li:hover { 
            background-color: #e9f6e9;
		}

       
}
.li {

		// .li__icon

		&__icon {
            padding-right: 5px;
            opacity: 0.5;
            transition: 0.5s;
		}

		// .li__link

		&__link {
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            text-decoration: none;
            font-weight: 500;
            letter-spacing: -0.5px;
		}

        &__link:hover {
            color: #000000;
		}
}

.list__li:hover .li__icon {
    opacity: 1;
}
////////////////////////////////////////////////////////


.contant {
    position: relative;
    padding: 40px 30px 120px 30px !important;
    background: linear-gradient(180deg, #fff 0%,  #ECEEF2 100%);
// transform: matrix(1, 0, 0, -1, 0, 0);

		// .contant__concurs

		&__concurs {
            display: flex;
		}
}

.concurs {

		// .concurs__icon

		&__icon {
            padding-right: 15px;
		}

		&__description {
		}
}

.description {

		// .description__title

		&__title1 {
            font-size: 17px;
            line-height: 24px;
            font-weight: 500;
            letter-spacing: -0.4px;

            color: #000000;
		}

		// .description__text

		&__subtitle {
            font-size: 17px;
            line-height: 24px;
            font-weight: 700;
            letter-spacing: -0.4px;

            color: #000000;
		}
}


.video {
    margin-top: 30px;
    position: relative;

    &__img {
        width: 100%;
        border-radius: 16.9796px;
    }

    &__play {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

}

.play {

    &__icon {

    }

    &__text {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;

        color: #FFFFFF;
    }
}

.golosovanie {
    padding-top: 30px;

    // .golosovanie__title

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;

        color: #000000;

    }

    // .golosovanie__text

    &__text {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
      
        color: #000000;
    }

    // .golosovanie__soclink

    &__soclink {
    }


    &__golosa {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }

}

.golosovanie-mob {
    display: none;
}

.soclink {

    // .soclink__facebook

    &__facebook {
        position: relative;
        box-sizing: border-box;
        transition: all 0.6s;
        margin-bottom: 6px;
        background: #1F3B74;
        border-radius: 70px;

        position: relative;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__facebook:before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 60px;
        background: rgba(255,255,255,0.3);
        transition: all 0.6s ease;
        border-radius: 70px;
    }
    
    &__facebook:hover:before {
        width: 100%;
    }


    

    // .soclink__vk

    &__vk {
        position: relative;
        box-sizing: border-box;
        transition: all 0.6s;
        margin-bottom: 6px;
        background: #27466A;
        border-radius: 70px;

        position: relative;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__vk:before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 60px;
        background: rgba(255,255,255,0.3);
        transition: all 0.6s ease;
        border-radius: 70px;
    }
    
    &__vk:hover:before {
        width: 100%;
    }

    // .soclink__ok

    &__ok {
        position: relative;
        box-sizing: border-box;
        transition: all 0.6s ease 0s; 
        margin-bottom: 6px;
        background: #D06313;
        border-radius: 70px;

        position: relative;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__ok:before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 60px;
        background: rgba(255,255,255,0.3);
        transition: all 0.6s ease 0s;
        border-radius: 70px;
    }
    
    &__ok:hover:before {
        width: 100%;
    }
}
.faceebook {

    // .faceebook__img

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        transition: 0.5s;
    }
}
.facebook {

    // .facebook__link

    &__link {
        padding-left: 25px;
        color:#fff;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        
        text-decoration: none;
    }

    &__link:hover {
        color:#fff !important;
    }
}
.vk {

    // .vk__img

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        transition: 0.5s;
    }

    // .vk__link

    &__link {
        padding-left: 25px;
        color:#fff;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        
        text-decoration: none;
    }

    &__link:hover {
        color:#fff !important;
    }
}
.ok {

    // .ok__img

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        transition: 0.5s;
    }

    // .ok__link

    &__link {
        padding-left: 25px;
        color:#fff;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        
        text-decoration: none;
     }
     
        &__link:hover {
            color:#fff !important;
        }
   
}

.soclink__facebook:hover .faceebook__img{
    left: 81%;
}

.soclink__vk:hover .vk__img{
    left: 81%;
}

.soclink__ok:hover .ok__img{
    left: 81%;
}


///////////////////////////////////////////////////@at-root

.comblock {
    margin: 0px 30px;
    padding: 30px;
    position: relative;
  
    top: -65px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    // .comblock__contant

    &__contant {
        display: flex;
    }

    // .comblock__cart

    &__cart {
        display: flex;
        flex-direction: column;
    }
}

.cart-form {
    flex-direction: row;
}

.flex {
    display: flex;
}

.contant {

    // .contant__img

    &__img {
    }

    // .contant__description

    &__description {
        padding-left: 20px;
    }
}
.description {

    // .description__title

    &__title {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
    }

    // .description__text

    &__text {
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }

    // .description__link

    &__link {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
    }

    // .description__name

    &__name {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    // .description__role

    &__role {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
}

.link {
    &__text {
        color: #000;
        text-decoration: none;

    }

    &__arow {
        height: 10px;
        padding-left: 6px;
        transition: 0.5s;
        
    }

}

.description__link:hover .link__arow {
        transform: translateX(5px);
}

.cart {

    // .cart__photo

    &__photo {
    }

    // .cart__people

    &__people {
        padding-left: 10px;
    }

    // .cart__btn

    &__btn {
        margin-left: 56px;
        position: relative;
        box-sizing: border-box;
        transition: all 0.6s ease; 
        margin-top: 20px;
        padding: 8px 15px;
        background: #0D870D;
        border-radius: 6px;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        text-align: center;
    }

    &__btn:before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 42px;
        background: rgba(255,255,255,0.3);
        border-radius: 5px;
        transition: all 0.6s ease;
    }
    
    &__btn:hover:before {
        width: 100%;
    }
}

.people {

    // .people__description

    &__description {
    }
}
.btn {

    // .btn__link

    &__link {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        text-decoration: none;
    }

    &__link:hover {
        cursor: pointer;
        color: #fff;

    }
}

//////////////////////////////////////////////////////////////////////@at-root

.about {
    padding: 0px 30px 20px 30px;
    // .about__wrapper

    &__wrapper {
    }
}

.wpapper {

    // .wpapper__title

    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
}

.wrapper__text {
        padding-bottom: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;   
}

.description {

    // .description__link

    &__link {
    }

    // .description__vsnos

    &__vsnos {
        display: flex;
        margin-bottom: 20px;
    }
}
.link {

    // .link__text

    &__text {
    }

    // .link__arow

    &__arow {
    }
}
.price {
    margin: 40px 0;
    padding: 20px;
    background: rgba(30, 160, 30, 0.1);
    border-radius: 16px;
    // .price__title

    &__title {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    }

    // .price__description

    &__description {
    
    }

    // .price__fp

    &__fp {
        padding: 10px 0;
        text-align: center;
    }
}
.vsnos {

    // .vsnos__title

    &__title {
    width: 30%;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.52);
    }

    // .vsnos__price

    &__price {
    width: 70%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    }
}
.fp {

    // .fp__icon

    &__icon {
        padding-right: 10px;
        opacity: 0.5;
        transition: 0.5s;
    }

    // .fp__link

    &__link {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    color: #000;
    text-decoration: none;
    text-align: initial;
    }
}

.fp__link:hover .fp__icon {
    opacity: 1;
}

.fp-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    &__photo {
        padding: 40px 0;
    }

}

.photo {

    // .photo__img

    &__img {
        width: 100%;
    }
}

//////////////////////////////////////////////////////////@at-root.form {

    .form {

		// .form__pole

		&__pole {
		}

		// .form__security

		&__security {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #ECEEF2;
            /* Gray / 20% icon */

            border: 1px solid rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
            border-radius: 6px;
		}

		// .form__btn

		&__btn {
		}

		// .form__info

		&__info {
		}
}

.pole {

		// .pole__icon

		&__icon {
		}

		// .pole__input

		&__input {
            width: 100%;
            outline: none; /*убираем стандартную обводку браузера*/   
            border: 0;
            padding-left: 5px;

            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
      
            color: rgba(0, 0, 0, 0.52);
		}

        &__textarea {
            width: 100%;
            outline: none; /*убираем стандартную обводку браузера*/   
            border: 0;
            padding: 5px 10px;

            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #000000 !important;

        }
}
.security {

		// .security__check

		&__check {
            width: 70%;
            display: flex;
            align-items: center;
		}

		// .security__title

		&__title {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            /* or 143% */

            text-align: right;

            color: rgba(0, 0, 0, 0.52);
		}
}
.check {

		// .check__box

		&__box {
        width: 32px;
        height: 32px;

        background: #FFFFFF;
        /* Gray / 20% icon */

        border: 2px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 6px;
		}

		// .check__twxt

		&__twxt {
            margin: 0;
            padding-left: 10px;

            font-size: 16px;
            line-height: 24px;
            font-weight: 500;

            color: #000000;
		}
}
.info {

		// .info__icon

		&__icon {
		}

		// .info__text

		&__text {
		}
}


//////////////////////////////////////////////////////@at-root.form {

.form {	
        padding: 30px;
        background: #ECEEF2;
        border-radius: 16px;// .form__pole

		&__pole {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            padding: 10px 0;
            border: 1px solid #ccc;
            border-radius: 6px;
            width: 100%;
            background: #fff;

            font-size: 16px !important;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.52);
		}

		// .form__security

		&__security {
		}

		// .form__btn

		&__btn {
            position: relative;
            width: 100%;
            box-sizing: border-box;
            transition: all 0.8s ease; 
            margin-top: 10px;
            padding: 15px 15px;
            background: #0D870D;
            border-radius: 6px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            text-decoration: none;
            border: none;
        }
    
        &__btn:before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: rgba(255,255,255,0.3);
            border-radius: 5px;
            transition: all 0.8s ease;
        }
        
        &__btn:hover:before {
            width: 100%;
        }

		// .form__info

		&__info {
            padding-top: 20px;
            display: flex;
		}
}

.pole {

		// .pole__icon

		&__icon {
            width: 24px;
        height: 20px;
        padding-left: 5px;
		}

		// .pole__input

		&__input {
            width: 100%;
            outline: none; /*убираем стандартную обводку браузера*/   
            border: 0;
            padding-left: 5px;

            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
      
            color: rgba(0, 0, 0, 0.52);
		}
}
.security {

		// .security__check

		&__check {
		}

		// .security__title

		&__title {
		}
}
.check {

		// .check__box

		&__box {
		}

		// .check__twxt

		&__twxt {
		}
}
.info {

		// .info__icon

		&__icon {
            padding-right: 25px;
		}

		// .info__text

		&__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

        color: rgba(0, 0, 0, 0.4);
		}
}

/////////////////////////////////////////////////////////////////////////@at-root
.question {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // .question__title

    &__title {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    }

    // .question__list

    &__list {
    padding-left: 0;
    }
}
.list {

    // .list__li

    &__l {
        padding-bottom: 20px;
        list-style: none;
        display: flex;
        align-items: center;

        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
}

.l {
    &__img {
        padding-right: 15px;
    }
}

.sticky__about {
    position: sticky;
    top: 60px;
}


.text-bold {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.text-normal {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

//////////////////////////////////////////////////////@at-root

.company {

    // .company__title

    &__title {
    padding: 30px 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    }

    &__all {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        transition: all 0.6 ease; 
        margin-top: 20px;
        width: 240px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 6px;
    }

    &__all:before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #e9f6e9;
        border-radius: 5px;
        transition: all 0.6s ease;
        
    }
    
    &__all:hover:before {
        width: 100%;
    }
}

.all {
    &__link {
    z-index: 1;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    color: #000;
       
    }

    &__link:hover {
        color: #000 !important;
           
        }
}


.owl-carousel {

    // .owl-carousel__item

    &__item {
    }
}
.owl-theme {
}
.item {

    // .item__photo

    &__photo {
    }

    // .item__signature

    &__signature {
    }
}
.signature {

    // .signature__title

    &__title {
    padding-top: 15px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    }

    // .signature__subtitle

    &__subtitle {
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;   
    }
}
.description {

    // .description__link

    &__link {
    }
}
.link {

    // .link__text

    &__text {
    }

    // .link__arow

    &__arow {
        display: inline !important;
        width: 18px !important;
        height: 14px;
    }
}

//////////////////////footer////////////////////////////////////////////////@at-root

footer {
    background: #333333;
    padding: 50px;
}

.footer {

    // .footer__top

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    // .footer__nav

    &__nav {
    }

    &__hr {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        margin: 20px 0 !important;
    }

    // .footer__bottom

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.top {

    // .top__logo

    &__logo {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    // .top__uprav

    &__uprav {
        padding-left: 35px;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
}

.logo{

    &__bb {
        width: 22px;
        height: 19px;
    }

    &__title{
        margin-bottom: 0;
        padding-left: 7px;
        font-weight: 700;
        font-size: 24px;
        line-height: 0;
        display: inline-block;
        transform: scale(1,1);
        transform-origin: 0 9px;

        color: #fff;
    }
}

.uprav {

    // .uprav__text

    &__img{
        opacity: 0.4;
        padding-right: 10px;
        transition: 0.5s;
    }

    &__text {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        color: #FFFFFF;

        opacity: 0.4;
        transition: 0.5s;
    }
}

.top__uprav:hover .uprav__img,
.top__uprav:hover .uprav__text {
    opacity: 1;
}

.nav {

    // .nav__title

    &__title {
        margin-bottom: 17px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;

        color: #FFFFFF;

        opacity: 0.6;
    }

    // .nav__list

    &__list {
    }
}
.list {

    &__item{
        margin-bottom: 15px;
    }

    // .list__link
}

.item {

    &__icon {
        padding-right: 8px;
        opacity: 0.4;

        transition: 0.5s;
    }

    &__link {
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;

        color: #FFFFFF;

        opacity: 0.4;

        transition: 0.5s;
    }

}

.list__item:hover .item__icon,
.list__item:hover .item__link {
    opacity: 1;
    color: #fff;
}


.bottom {

    // .bottom__contry

    &__contry {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    // .bottom__link

    &__link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
.contry {

    // .contry__oder

    &__oder {
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;

        color: #FFFFFF;

        opacity: 0.6;
    }
}
.country {

    // .country__item

    &__item {
        padding-left: 30px;
        display: flex;
        align-items: center;
    }
}
.item {

    // .item__flag

    &__flag {
        opacity: 0.4;
        padding-right: 10px;

        transition: 0.5s;
    }

    // .item__name

    &__name {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        color: #FFFFFF;

        opacity: 0.4;
        transition: 0.5s;
    }
}

.country__item:hover .item__flag,
.country__item:hover .item__name {
    opacity: 1;
}


.link {

    // .link__biboss

    &__biboss {
        margin-bottom: 10px;
        padding-right: 20px;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;

        color: #FFFFFF;

        opacity: 0.4;
    }

    // .link__img

    &__img {
        opacity: 0.4;
        transition: 0.5s;
    }

    &__img:hover {
        opacity: 1;
    }
}


/////////////////////////MEDIA///////////////////////////@at-root

@media(max-width: 991px) {
    .border-right {
        position: absolute;
        left: -100%;
        transition: 0.5s;
    }

    .one__burger {
        display: block;
    }

    .city__dropdown {
        display: none;
    }

    .two__blog {
        display: none;
    }

    .logo__name {
        display: none;
    }

    .two__unuser {
        display: block;
    }

    .two__user {
        display: none;
    }

    .two__icon {
        display: none;
    }

    .two__plus {
        margin-right: 10px;
    }

    .comblock {
        margin: 20px;
        top: 0;
        flex-direction: column;
        justify-content: center;
    }

    .comblock__contant {
        flex-direction: column;
        justify-content: center;
    }

    .text-mob {
        display: flex;
        justify-content: center;
    }

    .contant__description {
        padding-left: 0;
        padding-top: 20px;
    }

    .contant__img {
        text-align: center;
    }

    .golosovanie__title {
        text-align: center;
    }

    .golosovanie__text  {
        text-align: center;
        margin-bottom: 20px;
    }
    .golosovanie__soclink {
        display: none;
    }

    .golosovanie__golosa {
        display: none;
    }

    .golosovanie-mob {
        display: flex;
        justify-content: center;
    }

    .mob-img {
        padding-right: 10px;
    }

    .mob {
        display: block;
        margin: 20px 0 !important;
        border: 0.5px solid #777 !important;
    }

    .cart__btn {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    .contant {
        padding: 20px !important;
    }

    .about {
        padding: 0px 10px;
    }

    .description__vsnos {
        flex-direction: column;
    }

    .price__fp {
        text-align-last: left;
    }
    .question__title {
        text-align: center;
    }

    .about-mob {
        display: none;
    }

    .hr-company {
        display: none;
    }
    .company  {
        margin-left: 20px;
    }


}

@media(max-width:1275px) {
    .bottom__contry {
        flex-direction: column;
        align-items: flex-start;
    }

    .country__item {
        padding: 0;
        margin-top: 10px;
    }

    .bottom__link {
        flex-direction: column;
        align-items: flex-start;
    }

    
}


.border-right.active {
    left: 0;
    position: absolute;
    z-index: 3;
    height: 100%;
    background: #fff;
    
}


.burger__span.active{
     transform: rotate(-39deg);
     transition: 0.5s;
}


.burger__span.active::after{
    transform: rotate(-102deg);
    top: 0px;
    transition: 0.5s;
}


.burger__span.active::before{
    transform: scale(0);
}

